ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    transition: background-color .3s;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


label{
    width:120px;height:24px;display:block;float:left;line-height:22px;color:#616161;padding-left:18px;margin-right:5px;
}
table{border:1px solid #F00}
td{
    width:120px;height:24px;
    border:1px solid #F00}