
*{
    font-family: "PingFang HK",sans-serif;
}

a:hover{
    cursor: pointer;
}
a{
    color: royalblue;
}
body{
    background: url(../img/bigBG.png);
    background-size: cover;
}
.card{
    margin-top:30px;
    padding: 20px;
}
.card-header{
    text-align: center;
}



/*#changeVerifyCode{
    display: block;
    font-size: 10px;
    margin-bottom: 2px;
}
